<!-- Add mobile menu button -->
<header>
  <div class="logo">
    <img src="cropped-Speed-House-Final-Logo-1.png" alt="SPEEDHOUSE Logo" />
  </div>
  <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">&#9776;</button>
  <nav [class.active]="isMobileMenuOpen">
    <a href="/">Home</a>
    <div class="dropdown">
      <a routerLink="/">About Us</a>
      <div class="dropdown-content">
        <a href="#vision-mission">Vision & Mission</a>
        <a href="#approvals">Approvals</a>
        <a href="#modifications">Modifications</a>
      </div>
    </div>
    <a href="#services">Services</a>
    <a href="#project">Our Projects</a>
    <a href="#contact">Contact Us</a>
  </nav>
</header>

<!-- Hero Section -->
<section class="hero">
  <h1>We Design Living</h1>
  <p>View our Portfolio</p>
  <button onclick="window.open('/SHEC-Profile.pdf', '_blank')">Explore More</button>
</section>


<!-- New Section -->
<section class="intro">
  <h2>Speed House Engineering Consultant</h2>
  <p>Welcome to Speed House Eng. Consultant L.L.C, a leading architectural designing company based in Dubai. Our company was founded with the goal of providing innovative and sustainable architectural design solutions that meet the needs of our clients.

    At Speed House Eng. Consultant, we believe that architecture should be more than just functional; it should also be beautiful, sustainable, and inspiring. That's why we approach every project with a focus on innovation, sustainability, and creativity, ensuring that we create spaces that meet the unique needs of our clients while also enhancing the environment around them.</p>
</section>


<!-- About Section -->
<section class="about" id="about">
  <div class="about-images">
    <div id="vision-mission" class="about-item">
      <img src="WhatsApp-Image-2023-04-12-at-3.55.39-PM.jpeg" alt="About Image 1" />
    </div>
    <div id="approvals" class="about-item">
      <img src="Approvals.jpeg" alt="About Image 2" />
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services">
  <div class="service-grid">
    <div class="service-item">
      <img src="Services.jpeg" alt="Service Image 1" />
    </div>
    <div id="modifications" class="service-item">
      <img src="Modifications.jpeg" alt="Service Image 2" />
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="project" class="projects">
  <h2>Our Projects</h2>
  <div class="project-grid">
    <div class="project-item">
      <img src="WhatsApp-Image-2023-04-12-at-8.08.15-PM-2.jpeg" alt="Al Quoz First Project" />
      <h3>Al Quoz First</h3>
      <p>Client: Hassan Ahmed Ghuloom Ahmed Albhalooshi</p>
      <p>Location: Al Quoz First</p>
      <p>Building: Ground +1 Resi Villa</p>
    </div>
    <div class="project-item">
      <img src="WhatsApp-Image-2023-04-12-at-8.09.10-PM.jpeg" alt="Muteena Project" />
      <h3>Oud Al Muteena,Second</h3>
      <p>Client: Mr. Zeid Ali</p>
      <p>Location: Qud Al Mateena, Second</p>
      <p>Building: Ground +1</p>
    </div>
    <div class="project-item">
      <img src="WhatsApp-Image-2023-04-12-at-8.11.12-PM.jpeg" alt="New Project" />
      <h3>Dubai Investment Park 1</h3>
      <p>Client: Mr. Akrar</p>
      <p>Location: Dubai Investment Park 1</p>
      <p>Build Up Area: 150000 sq ft</p>
      <p>Building: Ground +3+R Floors</p>
    </div>
  </div>
</section>
<!-- Contact Section -->
<section id="contact" class="contact">
  <h3>Contact Us</h3>
  <form id="contactForm">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" placeholder="Your Name" required />
    </div>
    <div class="form-group">
      <label for="email">Your Email</label>
      <input type="email" id="email" name="email" placeholder="Your Email" required />
    </div>
    <div class="form-group">
      <label for="message">Your Message</label>
      <textarea id="message" name="message" placeholder="Your Message" rows="5" required></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
  <div id="popupMessage" style="display: none;"></div>
</section>
<footer>
  <div class="footer-content">
    <div class="contact-info">
      <p>Address: Golf Park Building #205, AI</p>
      <p>E-mail: info&#64;specfhousedesign.com</p>
    </div>
  </div>
</footer>